@use "@angular/material" as mat;

h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.mat-mdc-form-field {
  border-radius: 5px;
  padding: 5px;
}

mat-error {
  font-size: 0.9rem;
  margin-top: 5px;
}

button {
  background: #ca7d00;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #df931a;
}

button:disabled {
  background: gray;
  cursor: default;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end !important;
  padding: 16px 4px !important;
  gap: 10px;
}
