@use "../../colors.scss";

#books {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: colors.$primary-text-color;

  .books-read {
    margin-top: 3rem;
    width: 100%;
    max-width: 800px;

    h3 {
      font-size: 2rem;
      color: colors.$secondary-color;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 1rem;
        transition: transform 0.3s ease, background 0.3s ease;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;

        &:hover {
          transform: translateY(-5px);
          background: rgba(255, 255, 255, 0.15);
        }

        .book-icon {
          font-size: 1.5rem;
          margin-right: 1rem;
          color: colors.$secondary-color;
        }

        .book-info {
          flex: 1;
          display: flex;
          justify-content: space-between;
        }

        .book-year {
          font-size: 0.9rem;
          color: colors.$secondary-color;
          margin-left: auto;
        }
      }

      .book {
        border-left: 5px solid colors.$secondary-color;
      }

      .course {
        border-left: 5px solid colors.$primary-text-color;
      }
    }
  }
}
