<section id="books">
  <div class="books-read">
    <h3>Education - Books & Courses</h3>
    <ul>
      <li
        *ngFor="let book of booksRead"
        [ngClass]="book.type"
        (click)="openLink(book.link)"
        role="button"
        tabindex="0"
      >
        <div class="book-icon">
          <i *ngIf="book.type === 'book'" class="fa fa-book"></i>
          <i *ngIf="book.type === 'course'" class="fa fa-graduation-cap"></i>
        </div>
        <div class="book-info">
          <strong>{{ book.title }}</strong>
          <span
            >{{ book.author
            }}<span class="book-year"> 📅 {{ book.year }}</span></span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
