@use "../../colors.scss";

#tech-stack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  border-radius: 10px;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: colors.$secondary-color;
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0;

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      height: 100%;
      width: 100%;
    }

    a:hover {
      cursor: pointer;
    }

    .tech-item {
      background-size: cover;
      background: url("/cv/endless-constellation.svg") repeat;
      padding: 1rem;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 180px;
      position: relative;
      overflow: hidden;
      border-radius: 40px;

      p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        z-index: 2;
      }

      img {
        width: 50px;
        height: 50px;
        z-index: 2;
      }

      .revealed-area {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: colors.$third-color;
      }
    }
  }
}
