<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/home">Rafał Piszko</a>
  </div>
  <ul>
    <li><button (click)="scroll(homeElement)">Home</button></li>
    <li><button (click)="scroll(techElement)">Skills</button></li>
    <li><button (click)="scroll(expElement)">Experience</button></li>
    <li><button (click)="scroll(contactElement)">Contact</button></li>
  </ul>
</nav>

<main>
  <app-home #home></app-home>
  <app-technology #tech></app-technology>
  <app-experience #exp></app-experience>
  <app-contact-me #contact></app-contact-me>
</main>
