$primary-text-color: #ffffff;
$secondary-color: #cf850d;
$secondary-color-hover: #bb790f;
$third-color: rgba(46, 60, 67);
$third-color-hover: rgb(28, 40, 46);
$background-color: rgba(22, 38, 46);
$dialog-container-color: rgba(22, 38, 46);
$form-field-bg: #444;
$error-color: #e74c3c;
$error-hover-color: #c0392b;
$backdrop-color: rgba(0, 0, 0, 0.5);
