@use "@angular/material" as mat;
@use "colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: colors.$primary-text-color;
  margin: 0px;
  min-width: 355px;
  background-color: colors.$background-color;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.menu-overrides(
    (
      item-label-text-color: colors.$primary-text-color,
      container-color: colors.$third-color,
      item-hover-state-layer-color: colors.$third-color-hover,
    )
  );
  @include mat.dialog-overrides(
    (
      container-color: colors.$dialog-container-color,
      subhead-color: colors.$primary-text-color,
    )
  );
  @include mat.form-field-overrides(
    (
      filled-label-text-color: colors.$primary-text-color,
      filled-container-color: colors.$form-field-bg,
      filled-error-label-text-color: colors.$error-color,
      filled-error-hover-label-text-color: colors.$error-hover-color,
      filled-error-focus-label-text-color: colors.$error-hover-color,
      error-text-color: colors.$error-color,
      filled-focus-active-indicator-color: colors.$secondary-color,
      filled-focus-label-text-color: colors.$secondary-color,
      filled-hover-label-text-color: colors.$secondary-color,
      filled-input-text-color: colors.$primary-text-color,
      filled-caret-color: colors.$primary-text-color,
    )
  );
  @include mat.snack-bar-overrides(
    (
      container-color: colors.$third-color,
      supporting-text-color: colors.$primary-text-color,
      button-color: colors.$secondary-color,
    )
  );
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: colors.$primary-text-color,
    )
  );
}

.backdrop-class {
  background-color: colors.$backdrop-color;
}
