/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0px;
  background-color: rgba(14, 42, 71);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
