<section id="about">
  <span class="welcome-text"
    >Hello! 👋 I'm Rafał, building robust solutions with Java.</span
  >
  <h1 class="slide-in-container">
    <div class="slide-in-text" [class.shrink]="isScrolled">
      Java Software <span class="text-developer">Engineer</span>
    </div>
    <span class="cursor">|</span>
  </h1>

  <div class="contact-buttons">
    <button type="button" (click)="openCV()">Open CV</button>
    <button type="button" (click)="openContactDialog()">Contact Me</button>
  </div>
</section>
